@-webkit-keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

body {
	display: flex;
	flex-flow: column nowrap
}

header {
	display: flex;
	/*flex-flow: column nowrap;*/
	justify-content: center;
	height: 300px;
	width: auto;
	/*max-height: 100%;*/
	/*background-size: 100% 95%;*/
	background-image: url("./images/rick_morty_header.jpg");
	/*background-repeat: no-repeat;*/
	/*background-size: cover;*/
	background-size: 100% 100%;
	font-size: 4em;
	color: white;
}

header p {
	margin: 0px 0px 0px 5px;
	align-content: center;
}

section {
	margin: 10px 0px;
}

.content {
	height: auto;
	width: auto;
	display: flex;
	flex-flow: row nowrap;
}

.controls {
	display: flex;
	flex-flow: column nowrap;
	width: auto;
	height: auto;
	/*background: #CDCDCD;*/
}

.controls button {
	margin: 2em 0em;
}

.info-area {
	display: flex;
	flex-flow: row nowrap;
	/*min-height: */
	width: auto;
}

.r-and-m {
	font-family: 'Bangers', cursive;
}

.versus {
	font-family: 'Permanent Marker', cursive;
	text-decoration: underline;
}

.the-world {
	font-family: 'Luckiest Guy', cursive;
}

.info-area img {
	justify-content: flex-start;
}

.info-area div {
	margin: 0px 10px;
}

.warning {
	padding: 3px;
	border: 5px solid red;
	-webkit-animation: blink normal 2s infinite ease-in-out;
}

.subject-identifier {
	font-family: 'Bangers', cursive;
}

.subject-name {

}

.subject-status {

}

.subject-species {

}

