@-webkit-keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

body {
	display: flex;
	flex-flow: column nowrap
}

header {
	display: flex;
	/*flex-flow: column nowrap;*/
	justify-content: center;
	height: 300px;
	width: auto;
	/*max-height: 100%;*/
	/*background-size: 100% 95%;*/
	background-image: url("./images/rick_morty_header.jpg");
	/*background-repeat: no-repeat;*/
	/*background-size: cover;*/
	background-size: 100% 100%;
	font-size: 4em;
	color: white;
}

header p {
	margin: 0px 0px 0px 5px;
	align-content: center;
}

section {
	display: flex;
	margin: 10px 0px;
}

.content {
	height: auto;
	width: auto;
	display: flex;
	flex-flow: row nowrap;
}

.controls {
	display: flex;
	flex-flow: column nowrap;
	width: auto;
	height: auto;
	margin: 0em 2em 0em 0em;
	align-items: center;
	/*background: #CDCDCD;*/
}

.controls label {
	margin-top: 1em;
	margin-bottom: 20px;
	background: #FDF904;
	font-weight: bold;
	font-size: large;
}

.controls label.option {
	margin-top: 2em;
	background: #96FAD8;
	font-weight: bold;
	font-size: large;
}

.controls button {
	margin: 2em 0em;
	width: 33%;
	box-shadow: -3px 3px orange, -2px 2px orange, -1px 1px orange;
  border: 1px solid orange;
	justify-content: center;
}

.info-area {
	display: flex;
	flex-flow: row nowrap;
	/*min-height: */
	width: auto;
}

.r-and-m {
	font-family: 'Bangers', cursive;
}

.versus {
	font-family: 'Permanent Marker', cursive;
	text-decoration: underline;
}

.the-world {
	font-family: 'Luckiest Guy', cursive;
}

.info-area img {
	justify-content: flex-start;
}

.info-area div {
	margin: 0px 10px;
}

.warning {
	padding: 3px;
	border: 5px solid red;
	-webkit-animation: blink normal 2s infinite ease-in-out;
}

.subject-identifier {
	font-family: 'Bangers', cursive;
}

.subject-name {

}

.subject-status {

}

.subject-species {

}

/* 
	Media query adjustments




 */

/*@media screen and (max-width: 200px) {
	.content {
		flex-flow: column wrap;
	}
}
*/

@media screen and (max-width: 800px) {
	body {
		display: flex;
		flex-flow: column wrap;
		align-items: center;
	}

	.section {
		align-items: center;
	}

	.content {
		flex-flow: column wrap;
		align-items: center;
	}

	.info-area {
		flex-flow: column wrap;
		align-items: center;
	}

}

@media screen and (max-width: 300px) {
	header {
		height: 100%;
		width: 100%;
	}

	.section {
		align-items: center;
	}

	.content {
		flex-flow: column wrap;
		justify-content: center;
		align-items: center;
	}

	.info-area {
		flex-flow: column wrap;
		justify-content: center;
		align-items: center;
	}
}